/* PALETTE */

:root {
  --color-brand-blue: #0058BF;
  --color-brand-red: #E55200;
  --color-text: #000000;
  --color-text-inverted: #ffffff;
  --color-default-bg: #ffffff;
  --color-default-bg-inverted: #000000;
}