/* Font declarations */
@use '/node_modules/modern-normalize/modern-normalize.css';
@use 'helpers' as *;
@use 'common';
@use 'layout';

@font-face {
    font-family: 'Exat';
    src: url('/font/Exat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exat';
    src: url('/font/Exat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nyck';
    src: url('/font/Nyck.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem;
    gap: 2.4rem;
}